*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.box{
  background: linear-gradient(to right, blue , rgb(18, 18, 168));
}


.card{
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.card h2 {
  font-size: 20px;
  color: blue;
}

.card p {
  color: rgb(172, 165, 165);
}

.container{
  max-width: 1220px;
  box-sizing: border-box;
  margin: 0 auto;
}

.cards{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

 .cardd{
  /* width: 1220px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: white;
  color: black;
  font-weight: 100;
  box-shadow: 0px 8ap 16x black;
  border-radius: 10px; */
} 

.wrapper2{
  /* background:linear-gradient(to right, rgba(73, 103, 251, 0.453), rgba(41, 41, 246, 0.453));
  width: 1200px;
  height: 250px;
  border: 5px solid  rgba(3, 3, 252, 0.405); */
}

.carddd p {
  font-weight: 100;
}

.carddd span {
  font-weight: 600;

}

.text-wrapper h1{
  font-weight: 100;
}

.text-wrapper p{
  font-weight: 100;
}

.material-wrapper p {
  font-weight: 100;
}

.card4 p {
  font-weight: 100;
}


.malumot{
 background-color: rgb(18, 18, 168);
}

.malumot h3 {
  font-weight: 100;
}

.malumot h1 {
  font-weight: 500;
}


html, body {
  overflow-x: hidden;
  max-width: 100%;
}